In [1]:
import pandas as pd

In [2]:
train_results = pd.read_csv('./models/train_metrics.csv')
train_results.groupby(["top_k", "temperature"]).mean()

                   Unnamed: 0  epoch  lgan_mmd-CD  lgan_cov-CD  \
top_k temperature
3     0.8                 0.0   15.5     0.008758     0.377930
      1.0                 0.0   15.5     0.009711     0.333984
5     0.8                 0.0   15.5     0.009904     0.346680
      1.0                 0.0   15.5     0.009851     0.361328

                   lgan_mmd_smp-CD  1-NN-CD-acc_t  1-NN-CD-acc_f  1-NN-CD-acc  \
top_k temperature
3     0.8                 0.010892       0.942383       0.876953     0.909668
      1.0                 0.011804       0.958008       0.881836     0.919922
5     0.8                 0.015245       0.952148       0.858398     0.905273
      1.0                 0.009599       0.953125       0.865234     0.909180

                         fid
top_k temperature
3     0.8          24.916546
      1.0          25.376637
5     0.8          29.929187
      1.0          24.044070

In [3]:
train_results_z_score = pd.read_csv('./models/train_metrics_z_score.csv')
train_results_z_score.groupby(["top_k", "temperature"]).mean()

                   Unnamed: 0  epoch  lgan_mmd-CD  lgan_cov-CD  \
top_k temperature
3     0.8                 0.0   15.5     0.103953     0.387695
      1.0                 0.0   15.5     0.110236     0.345703
5     0.8                 0.0   15.5     0.104744     0.375000
      1.0                 0.0   15.5     0.107949     0.356445

                   lgan_mmd_smp-CD  1-NN-CD-acc_t  1-NN-CD-acc_f  1-NN-CD-acc  \
top_k temperature
3     0.8                 0.116312       0.955078       0.860352     0.907715
      1.0                 0.122790       0.963867       0.862305     0.913086
5     0.8                 0.140228       0.943359       0.865234     0.904297
      1.0                 0.109591       0.960938       0.866211     0.913574

                         fid
top_k temperature
3     0.8          31.335823
      1.0          36.776170
5     0.8          35.207281
      1.0          31.874640

In [4]:
val_results = pd.read_csv('./models/val_metrics.csv')
val_results.groupby(["top_k", "temperature"]).mean()

                   Unnamed: 0  epoch  lgan_mmd-CD  lgan_cov-CD  \
top_k temperature
3     0.8                 0.0   15.5     0.009155     0.224609
      1.0                 0.0   15.5     0.009120     0.235352
5     0.8                 0.0   15.5     0.009559     0.241211
      1.0                 0.0   15.5     0.009532     0.256836

                   lgan_mmd_smp-CD  1-NN-CD-acc_t  1-NN-CD-acc_f  1-NN-CD-acc  \
top_k temperature
3     0.8                 0.005948       0.978516       0.999023     0.988770
      1.0                 0.006263       0.987305       0.996094     0.991699
5     0.8                 0.006921       0.973633       0.995117     0.984375
      1.0                 0.007166       0.992188       0.998047     0.995117

                         fid
top_k temperature
3     0.8          23.797838
      1.0          26.243688
5     0.8          26.018543
      1.0          26.567605

In [5]:
val_results_z_score = pd.read_csv('./models/val_metrics_z_score.csv')
val_results_z_score.groupby(["top_k", "temperature"]).mean()

                   Unnamed: 0  epoch  lgan_mmd-CD  lgan_cov-CD  \
top_k temperature
3     0.8                 0.0   15.5     0.104195     0.201172
      1.0                 0.0   15.5     0.097023     0.190430
5     0.8                 0.0   15.5     0.104741     0.218750
      1.0                 0.0   15.5     0.111458     0.213867

                   lgan_mmd_smp-CD  1-NN-CD-acc_t  1-NN-CD-acc_f  1-NN-CD-acc  \
top_k temperature
3     0.8                 0.063848       0.971680       1.000000     0.985840
      1.0                 0.069718       0.984375       0.991211     0.987793
5     0.8                 0.076656       0.971680       0.994141     0.982910
      1.0                 0.079256       0.984375       0.997070     0.990723

                         fid
top_k temperature
3     0.8          28.771396
      1.0          26.797957
5     0.8          28.033003
      1.0          27.796216

In [6]:
def prepare_df(df):
  # Create a new dataframe with the following properties: 
  # Rename "lgan_mmd_loss" to "MMD"
  # Rename "lgan_cov-CD" to "COV (%)" and normalize to 100
  # Rename "	1-NN-CD-acc" to "1-NNA (%)" and normalize to 100
  # Rename "fid" to "FPD"

  df = df.rename(columns={"lgan_mmd-CD": "MMD", "lgan_cov-CD": "COV (%)", "1-NN-CD-acc": "1-NNA (%)", "fid": "FPD"})
  df["COV (%)"] = df["COV (%)"] * 100
  df["1-NNA (%)"] = df["1-NNA (%)"] * 100

  # Groupby temperature and top_k
  df = df.groupby(["top_k", "temperature"]).mean()
  # Mask out everything that is not an important metric
  df = df.drop(columns=df.columns.difference(["MMD", "COV (%)", "1-NNA (%)", "FPD"]))


  return df

In [9]:
# prepare train with z_score and export as latex
grouped_train = prepare_df(val_results_z_score)
grouped_train.to_latex('./submissions/report/results/train_metrics_z_score.tex', float_format="%.2f")